<section class="admin-dashboard">
    <div class="wrapper">
        <h1>Welcome to the admin dashboard!</h1>
        <h1>The highest scoring test score belongs to: <%= TestSession.highest_scoring_student %></h1>
        <h1>The most active user is: <%= User.most_active_student %></h1>
    </div>
</section>