<%# Conditional rendering for welcoming new users %>
<section class="main">
    <div class="wrapper">
        <div class="main-content">
            <div class="main-left">
                <% if logged_in? %>

                    <h1 class="main-heading">Improve speed,<br> accuracy and overall <br> skills on the keys!</h1>
                    <p class="main-para">Take a quick test to find out how accurately <br> and quickly you type (and how to improve!)</p>

                    <%= link_to 'Start New Test', tests_path, method: :get %>
                    <%= link_to 'Completed Tests', reports_path %>

                <% else %>

                    <h1 class="main-heading">Improve speed,<br> accuracy and overall <br> skills on the keys!</h1>
                    <p class="main-para">Take a quick test to find out how accurately <br> and quickly you type (and how to improve!)</p>

                    <%= link_to 'Register', new_user_path, method: :get %>
                    <%= link_to 'Login', login_path, method: :get %>

                <% end %>
            </div>
            <div class="main-right">
               <img class="main-image" src="https://i.ibb.co/QNbVbqB/main-illustration.png" alt="main-illustration" border="0">
            </div>
        </div>
    </div>
</section>