/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Merriweather';
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}

.logo-link {
    text-decoration: none;
}

.logo-link:visited {
    color: #000;
}

.cta {
    display: flex;
    justify-content: space-between;
}

.main-left a,
.main-left a:visited {
    padding: 1em 1.6em 1em;
    border-radius: 4px;
    border: 1px solid #000;
    text-decoration: none;
    margin-right: .8em;
    transition: .2s ease;
    color: #000;
    display: inline-block;
}

.main-left a:first-of-type {
    background-color: #000;
    color: #fff;
}

.main-left a:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-3px)
}

.main-left a:first-of-type:hover {
    background-color: #fff;
    color: #000;
}

.main {
    height: 100vh;
}

.main-content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .5em;
}

.main-para {
    margin-bottom: 1.5em;
    font-size: 1.375rem;
    line-height: 1.6;
    color: #111;
    opacity: .6;
}

.main-image {
    width: 90%;
    display: block;
    margin-left: auto;
}

.reg {
    max-width: 100%;
    margin-right: auto;
    margin-left: 0;
}

.reg-heading {
    margin-bottom: .2em;
    font-size: 2.5rem;
}

.main-right input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: .5em 1em;
    margin: .3em 0;
}

.main-right .btn {
    padding: 1em 1.6em 1em;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 1rem;
    text-decoration: none;
    transition: .2s ease;
    color: #000;
    display: inline-block;
    width: 30%;
    cursor: pointer;
    margin-right: 2em;
}

.main-right .btn:hover {
    background: #000;
    color: #fff;
}

.reg-submit {
    display: flex;
    align-items: flex-end;
}

.main-right.registration {
    width: 45%;
}
