/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Merriweather';
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}

.logo-link {
    text-decoration: none;
}

.logo-link:visited {
    color: #000;
}

.greeting-text {
    margin-right: 2em;
}

.cta {
    display: flex;
    justify-content: space-between;
}

.cta a:visited {
    color: #000;
}

.main-left a,
.main-left a:visited {
    padding: 1em 1.6em 1em;
    border-radius: 4px;
    border: 1px solid #000;
    text-decoration: none;
    margin-right: .8em;
    transition: .2s ease;
    color: #000;
    display: inline-block;
}

.main-left a:first-of-type {
    background-color: #000;
    color: #fff;
}

.main-left a:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-3px)
}

.main-left a:first-of-type:hover {
    background-color: #fff;
    color: #000;
}

.main {
    height: 100vh;
}

.main-content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .5em;
}

.main-para {
    margin-bottom: 1.5em;
    font-size: 1.375rem;
    line-height: 1.6;
    color: #111;
    opacity: .6;
}

.main-image {
    width: 90%;
    display: block;
    margin-left: auto;
}

.reg {
    max-width: 100%;
    margin-right: auto;
    margin-left: 0;
}

.reg-heading {
    margin-bottom: .2em;
    font-size: 2.5rem;
}

.user_notice {
    margin-bottom: 1em;
}

.login-registration {
    display: flex;
    align-items: flex-end;
}

.main-right input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: .5em 1em;
    margin: .3em 0;
}

.main-right .btn {
    padding: 1em 1.6em 1em;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 1rem;
    text-decoration: none;
    transition: .2s ease;
    color: #000;
    display: inline-block;
    width: 30%;
    cursor: pointer;
    margin-right: 2em;
}

.main-right .btn:hover {
    background: #000;
    color: #fff;
}

.reg-submit {
    display: flex;
    align-items: flex-end;
}

.main-right.registration {
    width: 45%;
}


/* Tests index page */

.tests-para {
    text-align: center;
    font-weight: 400;
    margin-top: 3em;
}

.main-para.test {
    font-size: 1rem;
    margin-top: 2em;
}

.tests-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

.test-item {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: .5em;
    display: flex;
    flex-direction: column;
    padding: 2em .5em;
    justify-content: space-between;
    transition: .2s ease;
    padding: 2em;
}

.test-item a {
    text-decoration: none;
    color: #000;
}

.test-item__desc {
    opacity: .6;
}

.test-item p:not(:last-child) {
    margin-bottom: 2em;
}

.test-item a {
    padding: 1em;
    text-align: center;
    border: 1px solid #000;
    transition: .2s ease;
}

.test-item a:hover {
    background-color: #000;
    color: #fff;
}

/* Test show page */

.test-show {
    font-weight: 900;
}

.test-content {
    margin-top: 2em;
    font-weight: 400;
}

.test-desc {
    margin-top: 2em;
    font-weight: 400;
}

form.button_to {
    display: inline-block;
    margin-left: 42.5%;
}

.button_to input[type=submit] {
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    transition: .2s ease;
}

.button_to input[type=submit]:hover {
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}

/* Test session page */

.session-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.test-session-content {
    margin-top: 3em;
    font-size: 2rem;
}

form.edit_test_session {
    display: flex;
    flex-direction: column;
    align-items: center;
}


form.edit_test_session label {
    margin: 2em 0;
    font-size: 1rem;
    opacity: 0.5;
}

form.edit_test_session input[type=text] {
    width: 100%;
    font-size: 1.5rem;
    padding: 3em;
}


form.edit_test_session input[type=submit] {
    margin-top: 1.5em;
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    transition: .2s ease;
}

form.edit_test_session input[type=submit]:hover {
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}

/* Test complete page */

.success-photo {
    margin-left: 10%;
    margin-bottom: 2em;
    width: 80%;
}

.main-left form.button_to {
    display: inline-block;
    margin-left: 0;
}

