<section class="tests">
    <div class="wrapper">
        <h1 class="tests-para">Please select from the following available tests</h1>
        <ul class="tests-list">

            <% @tests.each do |test| %>

                <li class="test-item">
                
                    <p><span class="test-item__desc"></span> <%=  test.name %></p>
                    <p><span class="test-item__desc">Difficulty:</span> <%= test.difficulty %> </p>
                    <p><span class="test-item__desc">Language:</span> <%= test.language %> </p>
                    <%= link_to "Start", test_path(test) %>

                </li>

            <% end %>

        </ul>
    </div>
</section>