<h1>Please select from the following available tests</h1>

<ul>

    <% @tests.each do |test| %>

        <li>
        
            <%= test.name %>

            <%= link_to 'Take Test', test_sessions_path(:test => {:test_id => test.id, :user_id => current_user.id}), method: :post %>

        </li>

    <% end %>

</ul>