<h1>Please select from the following available tests</h1>

<ul>

    <% @tests.each do |test| %>

        <li>
        
            <%= link_to test.name, test_path(test)  %>


        </li>

    <% end %>

</ul>