<section class="reports-list">
    <div class="wrapper">
        <% if @sessions.length > 0 %>

            <h1>All Reports</h1>

            <ul>

            <% @sessions.each do |session| %>

                <li>
                    
                    <%= link_to session.test_name, report_path(session.report) %>

                </li>

            <% end %>

            </ul>

        <% else %>
            <div class="main-content">
                <div class="main-left">
                    <h1 class="main-heading">Oops... no tests taken yet.</h1>
                    <p class="main-para">Click the button below <br> to take your first typing test!</p>
                    <%= link_to 'Take Test', tests_path %>
                </div>
                <div class="main-right">
                    <img src="https://i.ibb.co/zPXD4Dn/08.png" alt="08" border="0">
                </div>
            </div>
        <% end %>
    </div>
</section>