<section class="reports">
    <div class="wrapper">
        <h1 class="tests-para results-title">Results:</h1>
        <h1 class="tests-para">You scored: <span class="test-score"><%= @report.test_grade %>%</span></h1>
        <h1 class="tests-para">The time it took you to complete the test was: <span class="test-score"><%= @report.report_time_elapsed %>s.</span></h1>
        <h1 class="tests-para">You typed at an average speed of <span class="test-score"><%= @report.report_words_per_minute %></span> words per minute. </h1>
    </div>
</section>
